<div class="center jumbotron">
  <h1>Welcome to railswolf</h1>

  <h2>Work in progress...</h2> 

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Check it out!", about_path, class: "btn btn-lg btn-primary" %>
</div>
